:root {
  --background-white-color: #ffffff;
  --background-pink-color: #ffb8ca;
  --background-light-pink-color: #fff5f6;
  --background-customers-color: #fafafa;
  --background-menu-pink-color:  #E17992;

  --white-color: #ffffff;
  --accent-color: #d41443;
  --pink-color: #ffa5ba;

  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --button-accent: #d41443;
  --button-white: #ffffff;
  --button-accent-hover: #c7133e;
  --button-white-hover: #ecebeb;

  --card-text-pink-bgc: #ffb8ca;
  --card-text-yellow-bgc: #f0d1a5;
  --card-text-green-bgc: #c2e297;

  --border-color: #e1e1e1;

  --svg-footer-fill: #fea5bb;

  --transition-duration: 300ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg-color: rgba(0, 0, 0, 0.35);
}
