<!-- SECTION ADVANTAGES START -->
<section class="section section--without-top-padding section--pink">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <span class="advantages__label">721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__label">16kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__label">84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- SECTION ADVANTAGES END -->
