<!-- SECTION ADVANTAGES START -->
<section
  class="section section--without-top-padding section--pink"
  id="about-us"
>
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <span class="advantages__label">721</span>
        <p class="advantages__text">
          This is the number of our cows on farms that give milk for our yummy
          ice cream.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__label">16kg</span>
        <p class="advantages__text">
          Average amount (kg) of our ice cream we sell per hour.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__label">84</span>
        <p class="advantages__text">
          That's how many millions of happy customers have visited us.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- SECTION ADVANTAGES END -->
