<!-------------------- Section Contacts ----------------------->

<section class="section section__contacts" id="contact">
  <div class="container container__contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__card-list">
      <!------------------- Contacts card -------------------------->
      <li class="contacts__card">
        <p class="contacts__top-text contacts__top-text--yellow">CAFE</p>
        <h3 class="contacts__title">Chicago</h3>
        <p class="contacts__bottom-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-time-list">
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Monday - Friday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">08:00 AM</time> -
              <time datetime="10:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts__phone-mail-list">
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <!------------------- Contacts card -------------------------->
      <li class="contacts__card">
        <p class="contacts__top-text contacts__top-text--green">FOOD TRUCK</p>
        <h3 class="contacts__title">Los Angeles</h3>
        <p class="contacts__bottom-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-time-list">
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Monday - Friday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">08:00 AM</time> -
              <time datetime="10:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts__phone-mail-list">
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <!------------------- Contacts card -------------------------->
      <li class="contacts__card">
        <p class="contacts__top-text contacts__top-text--yellow">CAFE</p>
        <h3 class="contacts__title">New York</h3>
        <p class="contacts__bottom-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work-time-list">
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Monday - Friday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="10:00">10:00 PM</time>
            </p>
          </li>
          <li class="contacts__work-time-item">
            <p class="contacts__work-time-text">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">
              <time datetime="06:00">08:00 AM</time> -
              <time datetime="10:00">16:00 PM</time>
            </p>
          </li>
        </ul>
        <ul class="contacts__phone-mail-list">
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__phone-mail-item">
            <a class="contacts__link--email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- --------------------Buttons list--------------------- -->
    <ul class="contacts__button-list">
      <li class="contacts__button-item">
        <button
          type="button"
          class="contacts__button contacts__button-location button--pink"
          data-location-modal-open
        >
          Our Locations
        </button>
      </li>
      <li class="contacts__button-item">
        <button
          type="button"
          class="contacts__button contacts__button-franchise button--white"
          data-franchise-modal-open
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
