<!-- SECTION CUSTOMER-REVIEWS-START -->
<section class="section section--mobile-padding">
  <div class="reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>

    <div class="multiple-items">
      <div>
        <div class="reviews__images">
          <img
            srcset="
              images/reviews1photo1x.jpg 1x,
              images/reviews1photo2x.jpg 2x
            "
            src="images/reviews1photo1x.jpg"
            alt="girl"
          />
        </div>

        <div class="reviews__wrap">
          <div class="reviews__gradient">
            <article class="reviews__text">
              <h3 class="visually-hidden">Review</h3>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </article>
          </div>
        </div>
        <p class="reviews__name">Daryna, Kharkiv</p>

        <div class="reviews">
          <h2 class="visually-hidden">Customer Reviews</h2>
        </div>
      </div>

      <div>
        <div class="reviews__images">
          <img
            srcset="
              images/reviews2photo1x.jpg 1x,
              images/reviews2photo2x.jpg 2x
            "
            src="images/reviews2photo1x.jpg"
            alt="man"
          />
        </div>

        <div class="reviews__wrap">
          <div class="reviews__gradient">
            <article class="reviews__text">
              <h3 class="visually-hidden">Review</h3>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </article>
          </div>
        </div>
        <p class="reviews__name">Oleksii, Kharkiv</p>

        <div class="reviews">
          <h2 class="visually-hidden">Customer Reviews</h2>
        </div>
      </div>

      <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews3photo1x.jpg 1x,
              images/reviews3photo2x.jpg 2x
            "
            src="images/reviews3photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Oleksandr, Kyiv</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

    <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews4photo1x.jpg 1x,
              images/reviews4photo2x.jpg 2x
            "
            src="images/reviews4photo1x.jpg"
            alt="girl"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Anna, Kharkiv</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

      <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews5photo1x.jpg 1x,
              images/reviews5photo2x.jpg 2x
            "
            src="images/reviews5photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Volodymyr, Nova Kakhovka</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

     <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews6photo1x.jpg 1x,
              images/reviews6photo2x.jpg 2x
            "
            src="images/reviews6photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Oleksandr, Kyiv</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

    <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews7photo1x.jpg 1x,
              images/reviews7photo2x.jpg 2x
            "
            src="images/reviews7photo1x.jpg"
            alt="girl"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Oksana, Kyiv</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

      <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews8photo1x.jpg 1x,
              images/reviews8photo2x.jpg 2x
            "
            src="images/reviews8photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Volodymyr, Odesa</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

     <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews9photo1x.jpg 1x,
              images/reviews9photo2x.jpg 2x
            "
            src="images/reviews9photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Ihor, Vinnytsia</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>

    <div>
       <div class="reviews__images">
          <img
            srcset="
              images/reviews10photo1x.jpg 1x,
              images/reviews10photo2x.jpg 2x
            "
            src="images/reviews10photo1x.jpg"
            alt="man"
          />
        </div>

      <div class="reviews__wrap">
        <div class="reviews__gradient">
          <article class="reviews__text">
            <h3 class="visually-hidden">Review</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
      </div>
      <p class="reviews__name">Olexandr, Kharkiv</p>

      <div class="reviews">
        <h2 class="visually-hidden">Customer Reviews</h2>
      </div>
    </div>
  </div>
  <!-- <div class="reviews__images">
      <img
        srcset="images/testimonials1-1.png 1x, images/testimonials1-1@2x.png 2x"
        src="images/testimonials1-1@2x.png"
        alt="girl"
      />
    </div>

    <div class="reviews__wrap">
      <div class="reviews__gradient">
        <article class="reviews__text">
          <h3 class="visually-hidden">Review</h3>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </article>
      </div>
    </div>
    <p class="reviews__name">Emily, Los Angeles</p>
    <ul class="reviews__list">
      <li class="reviews__item"></li>
      <li class="reviews__item"></li>
      <li class="reviews__item"></li>
    </ul>
  </div> -->
</section>
<!-- SECTION CUSTOMER-REVIEWS-END -->
