<!---------------------------FOOTER------------------------->
<footer class="footer-section section--pink">
  <div class="container">
    <div class="footer-box">
      <div class="footer-box__title">
        <p class="footer-title">
          homemade ice cream made <br />

          <span class="footer-title__red"> with passion</span>
        </p>
      </div>
      <div class="footer-contact">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://github.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-soc-icon" width="32" height="32">
                <use href="images/sprite.svg#github"></use></svg
            ></a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://web.telegram.org"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="footer-soc-icon" width="32" height="32">
                <use href="images/sprite.svg#telegram"></use></svg
            ></a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.facebook.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="footer-soc-icon" width="32" height="32">
                <use href="images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
        </ul>

        <p class="footer-text__tel">
          Feel free to contact
          <a class="footer__tel" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284
          </a>
        </p>
      </div>
    </div>
  </div>
  <p class="rights">&#169; 2022 - IceCream. All Rights Reserved.</p>
</footer>
