<!-- SECTION GALLERY SRART -->
<section class="section section--gradient">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
          <ul class="gallery__masonry" data-masonry='{ "itemSelector": ".gallery__item", "columnWidth": ".main-box", "percentPosition": true, "originTop": true, "initLayout": true}'>
            <li class="gallery__item gallery__items-space"> </li>
            <li class="gallery__item main-box"><img src="images/gallery-img-1.jpg" alt="foto"></li>
            <li class="gallery__item"><img  src="images/gallery-img-3.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/gallery-img-5.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/gallery-img-6.jpg" alt="foto"></li>
            <li class="gallery__item gallery__items-space"> </li>
            <li class="gallery__item"><img src="images/2small.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/gallery-img-7.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/gallery-img-8.jpg" alt="foto"></li>
            <li class="gallery__item gallery__item-big"><img src="images/gallery-img-4.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/gallery-img-9.jpg" alt="foto"></li>
            <li class="gallery__item"><img src="images/10small.jpg" alt="foto"> </li>
          </ul>

    </div>
</section>
<!-- SECTION GALLERY FINISH -->