<!-- SECTION GALLERY SRART -->
<section class="section section--gradient">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__masonry" data-masonry='{ "itemSelector": ".gallery__item", "columnWidth": ".main-box", "percentPosition": true, "originTop": true, "initLayout": true}'>
            <div class="gallery__item gallery__items-space"> </div>
            <img class="gallery__item main-box" src="images/gallery-img-1.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-3.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-5.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-6.jpg" alt="foto">
            <div class="gallery__item gallery__items-space"> </div>
            <img class="gallery__item" src="images/2small.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-7.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-8.jpg" alt="foto">
            <img class="gallery__item gallery__item-big" src="images/gallery-img-4.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-9.jpg" alt="foto">
            <img class="gallery__item" src="images/10small.jpg" alt="foto"> 
          </div>

    </div>
</section>
<!-- SECTION GALLERY FINISH -->