<section class="section section--gradient">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="gallery__grid" data-masonry='{ "itemSelector": ".gallery__item", "columnWidth": ".persent-size", "percentPosition": true, "originTop": true, "initLayout": false}'>
            <div class="gallery__item stamp2"> </div>
            <img class="gallery__item persent-size" src="images/gallery-img-1.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-3.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-5.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-6.jpg" alt="foto">
            <div class="gallery__item stamp2"> </div>
            <img class="gallery__item" src="images/gallery-img-2.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-7.jpg" alt="foto">
            
            <img class="gallery__item" src="images/gallery-img-8.jpg" alt="foto">
            <img class="gallery__item grid-item--width2" src="images/gallery-img-4.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-9.jpg" alt="foto">
            <img class="gallery__item" src="images/gallery-img-10.jpg" alt="foto">
            
          </div>

    </div>
</section>