<!-- HEADER -->
<header class="header" id="header">
  <div class="container header__container">
    <div class="header__wrap">
      <a href="index.html" class="header__logo">
        <img
          src="images/logo.svg"
          alt="Логотип"
          width="50"
          class="header__logo__icon"
        />
        <span class="header__logo__text" id="home">Icecream</span></a
      >
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item"><a href="#home">Home</a></li>
          <li class="header__nav__item"><a href="#about-us">About us</a></li>
          <li class="header__nav__item">
            <a href="#how_it_made">How it’s made?</a>
          </li>
          <li class="header__nav__item">
            <a href="#our-products">Our products</a>
          </li>
          <li class="header__nav__item"><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <button
        type="button"
        class="menu-toggle menu-open-btn"
        menu-mobile-modal-open
      >
        <svg height="12" width="20">
          <use href="images/sprite.svg#Burger"></use>
        </svg>
      </button>

      <button
        type="button"
        class="header__button-menu button--white data-modal-open"
      >
        Buy now
        <svg height="10" width="10">
          <use href="images/sprite.svg#vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- HEADER END -->
