<!-- Section hero -->
<section class="section-hero">
  <div class="hero container">
    <video class="video" src="./images/video.mp4" autoplay muted loop></video>
    <h1 class="hero__title">
      <span class="hero__title--white">ice cream made with</span>
      passion
    </h1>

    <ul class="hero__links">
      <li class="hero__item">
        <a href="#our-products" class="hero__link hero__link--accent"
          >Products</a
        >
      </li>
      <li class="hero__item">
        <a href="#how_it_made" class="hero__link">How it's made?</a>
      </li>
    </ul>
    <picture class="hero__image-milk">
      <source
        srcset="
          ./images/hero-milk-desk-213.png    1x,
          ./images/hero-milk-desk-213@2x.png 2x
        "
        media="(min-width: 1260px)"
      />

      <source
        srcset="
          ./images/hero-milk-tab-152.png    1x,
          ./images/hero-milk-tab-152@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class=""
        src="./images/hero-milk-desk-213.png "
        alt="Кувшин с молоком"
      />
    </picture>
    <div class="hero-text">
      <p class="hero-text__descr">
        This is not only high-quality milk, but also exclusively natural
        fillers, flavors for true patriots of their homeland.
      </p>
      <a class="hero-text__link" href="index.html">
        <img
          class="hero-text__img"
          alt="arrow-img"
          src="./images/arrow-right.svg"
          width="6"
          height="6"
        />
      </a>
    </div>
    <picture class="hero__image-icecream">
      <source
        srcset="
          ./images/hero-icecream-desk-236.png    1x,
          ./images/hero-icecream-desk-236@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero-icecream-tab-143.png    1x,
          ./images/hero-icecream-tab-143@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero-icecream-mob-171.png    1x,
          ./images/hero-icecream-mob-171@2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img class="" src="images/hero-icecream-desk-236.png " alt="Морожное" />
    </picture>

    <picture class="hero__image-girl">
      <source
        srcset="
          ./images/hero-girl-desk-304.png    1x,
          ./images/hero-girl-desk-304@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero-girl-tab-190.png    1x,
          ./images/hero-girl-tab-190@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class=""
        src="./images/hero-girl-desk-304.png "
        alt="Девушка с мороженым"
      />
    </picture>

    <div class="hero__circle"></div>
    <ul class="hero-chain">
      <li class="hero-chain__item">
        <p class="hero-chain__text">
          <span class="hero-chain__text--accent">16</span> <br />cafes
        </p>
      </li>
      <li class="hero-chain__item">
        <p class="hero-chain__text">
          <span class="hero-chain__text--accent">23</span> <br />
          food trucks
        </p>
      </li>
    </ul>
  </div>
</section>
