<div class="location-modal-backdrop is-hidden" data-location-modal>
    <div class="location-modal">
         <button type="button" class="location-modal__close-btn" data-location-modal-close>
                    <svg class="location-modal__icon-close" width="20" height="20">
                        <use href="images/sprite.svg#icon-close-btn"></use>
                    </svg>
         </button>
           
         <div class="location-map">
             <iframe
             class="location-map_iframe" 
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.3419415352!2d-74.03927093508983!3d40.759040329422945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1sen!2sua!4v1655149788833!5m2!1sen!2sua" 
             style="border:0;" 
             allowfullscreen="" 
             loading="lazy" 
             referrerpolicy="no-referrer-when-downgrade">
            </iframe>
         </div>
    </div>
</div>