<!-- section PRODUCTS -->
<!-- -------(Ihor Komar start this code)------------------------------------------------- -->
<section class="section section--light">
  <div class="container">
    <p class="label-title">100% natural</p>
    <h2 class="section__title section__title--production">products</h2>

    <div class="wrap">
      <ul class="cards">
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">ice cream</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <button class="cards__btn" type="button">
              <img
                class="cards__btn-icon"
                src="images/arrow-right.png"
                alt="btn"
              />
            </button>
          </div>
        </li>
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">ice coffee</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <button class="cards__btn" type="button">
              <img
                class="cards__btn-icon"
                src="images/arrow-right.png"
                alt="btn"
              />
            </button>
          </div>
        </li>
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">milkshakes</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <button class="cards__btn" type="button">
              <img
                class="cards__btn-icon"
                src="images/arrow-right.png"
                alt="btn"
              />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- -------(Ihor Komar finished code)------------------------------------------------- -->
