<section class="section section--light">
  <div class="container">
    <p class="label-title">100% natural</p>
    <h2 class="section__title section__title--production">products</h2>

    <div class="wrap">
      <ul class="cards">
        <li class="cards__item">
          <h3 class="cards__title">ice cream</h3>
          <p class="cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="cards__btn" type="button">
            <img class="cards__btn-icon" src="/src/images/arrow-right.png" alt="btn">
          </button>
        </li>
        <li class="cards__item">
          <h3 class="cards__title">ice coffee</h3>
          <p class="cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="cards__btn" type="button">
            <img class="cards__btn-icon" src="/src/images/arrow-right.png" alt="btn">
          </button>
        </li>
        <li class="cards__item">
          <h3 class="cards__title">milkshakes</h3>
          <p class="cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="cards__btn" type="button">
            <img class="cards__btn-icon" src="/src/images/arrow-right.png" alt="btn">
          </button>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
