<!-- section PRODUCTS -->
<!-- (Ihor Komar started this code) -->
<section class="section section--light" id="our-products">
  <div class="container">
    <p class="label-title">100% natural</p>
    <h2 class="section__title section__title--production">products</h2>

    <div class="wrap">
      <ul class="cards">
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">ice cream</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <input class="input__btn1" type="checkbox" id="1" />

            <label class="label__btn1" for="1">
              <img
                class="label__icon"
                src="images/arrow-right-products.svg"
                alt="arrow"
                width="15"
                height="15"
              />
            </label>
            <div class="details1">
              <ul class="info">
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Tastes</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Brands</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Novelties</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Prices</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">ice coffee</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <input class="input__btn2" type="checkbox" id="2" />

            <label class="label__btn2" for="2">
              <img
                class="label__icon"
                src="images/arrow-right-products.svg"
                alt="arrow"
                width="15"
                height="15"
              />
            </label>
            <div class="details2">
              <ul class="info">
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Tastes</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Brands</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Novelties</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Prices</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="box">
            <h3 class="cards__title">milkshakes</h3>
            <p class="cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
              <span class="cards__top">dolore magna aliqua facilisis. </span>
            </p>
            <input class="input__btn3" type="checkbox" id="3" />

            <label class="label__btn3" for="3">
              <img
                class="label__icon"
                src="images/arrow-right-products.svg"
                alt="arrow"
                width="15"
                height="15"
              />
            </label>
            <div class="details3">
              <ul class="info">
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Tastes</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Brands</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Novelties</p>
                  </a>
                </li>
                <li class="info__item">
                  <a class="info__links" href="">
                    <p class="info__text">Prices</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- (Ihor Komar finished code) -->
