<div class="read-more-backdrop is-hidden" data-read-more-modal>
    <div class="read-more-modal">
         <button type="button" class="read-more-modal__close-btn" data-read-more-modal-close>
                    <svg class="read-more-modal__icon-close" width="30" height="30">
                        <use href="images/sprite.svg#icon-close-btn"></use>
                    </svg>
         </button>
            <h2 class="section__title section__title--about-modal">How it’s made?</h2>
            <p class="read-more-modal__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere debitis quasi adipisci porro voluptate natus corporis ex, nihil perspiciatis. 
                Incidunt, dolorum, nam omnis esse veniam officia consequuntur provident quod possimus nulla enim dolorem accusantium dolor, maiores praesentium? 
                Eveniet quasi minus quibusdam pariatur consequuntur dolor sit, blanditiis deserunt consequatur, placeat soluta necessitatibus corrupti dolorum possimus itaque fugit voluptate provident. 
                Quia ea est rerum eius provident alias ipsam minus perspiciatis ducimus maxime, at, nihil voluptatibus. Numquam, nemo fuga deleniti minus est, amet omnis facilis praesentium ea doloribus corporis repellendus porro facere tempora beatae eum assumenda expedita doloremque autem. 
                Necessitatibus quas eum soluta.
            </p>
            <p class="read-more-modal__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere debitis quasi adipisci porro voluptate natus corporis ex, nihil perspiciatis. 
                Incidunt, dolorum, nam omnis esse veniam officia consequuntur provident quod possimus nulla enim dolorem accusantium dolor, maiores praesentium? 
                Eveniet quasi minus quibusdam pariatur consequuntur dolor sit, blanditiis deserunt consequatur, placeat soluta necessitatibus corrupti dolorum possimus itaque fugit voluptate provident. 
                Quia ea est rerum eius provident alias ipsam minus perspiciatis ducimus maxime, at, nihil voluptatibus. Numquam, nemo fuga deleniti minus est, amet omnis facilis praesentium ea doloribus corporis repellendus porro facere tempora beatae eum assumenda expedita doloremque autem. 
                Necessitatibus quas eum soluta.
            </p>

            <p class="read-more-modal__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere debitis quasi adipisci porro voluptate natus corporis ex, nihil perspiciatis. 
                Incidunt, dolorum, nam omnis esse veniam officia consequuntur provident quod possimus nulla enim dolorem accusantium dolor, maiores praesentium? 
                Eveniet quasi minus quibusdam pariatur consequuntur dolor sit, blanditiis deserunt consequatur, placeat soluta necessitatibus corrupti dolorum possimus itaque fugit voluptate provident. 
                Quia ea est rerum eius provident alias ipsam minus perspiciatis ducimus maxime, at, nihil voluptatibus. Numquam, nemo fuga deleniti minus est, amet omnis facilis praesentium ea doloribus corporis repellendus porro facere tempora beatae eum assumenda expedita doloremque autem. 
                Necessitatibus quas eum soluta.
            </p>
             <p class="read-more-modal__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Facere debitis quasi adipisci porro voluptate natus corporis ex, nihil perspiciatis. 
                Incidunt, dolorum, nam omnis esse veniam officia consequuntur provident quod possimus nulla enim dolorem accusantium dolor, maiores praesentium? 
                Eveniet quasi minus quibusdam pariatur consequuntur dolor sit, blanditiis deserunt consequatur, placeat soluta necessitatibus corrupti dolorum possimus itaque fugit voluptate provident. 
                Quia ea est rerum eius provident alias ipsam minus perspiciatis ducimus maxime, at, nihil voluptatibus. Numquam, nemo fuga deleniti minus est, amet omnis facilis praesentium ea doloribus corporis repellendus porro facere tempora beatae eum assumenda expedita doloremque autem. 
                Necessitatibus quas eum soluta.
            </p>
        
    </div>
</div>