.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    perspective: 1600px;
    z-index: 7;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .modal {
        transform: translate(-50%, -50%) scale(0.5) rotateY(180deg);
        transition: transform 500ms;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotateY(0deg);
    transition: transform 500ms;

    padding: 10px 10px;
    width: 290px;
    max-width: 90vw;

    background-color: var(--pink-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    transition: transform 300ms linear;

    @media screen and (min-width: 768px) {
        width: 500px;
        padding: 30px 30px;
    }
}

.modal-button-top,
.modal-button {
    background-color: var(--white-color);
    width: 90px;
    height: 35px;
    border-radius: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button-top {
    margin-bottom: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: auto;
    display: block;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: none;

    transition-property: fill, border-color, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing);
    fill: var(--white-color);
    border-color:var(--white-color);
    
    &:hover{
        cursor: pointer;

        fill: var(--button-white-hover);
        border-color:var(--button-white-hover);
        transform: scale(1.15);

    }
}

.modal-button {
    color: var(--pink-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition-property: fill, border-color, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing);
    
    &:hover{
        cursor: pointer;
        transform: scale(1.15);
    }
}

.modal-button-icon {
    transform: rotateZ(180deg);
    fill: var(--white-color);
}

.modal-label {
    display: block;
    margin-bottom: 4px;

    color: var(--button-white);
}

.input-wrap {
    margin-bottom: 10px;
}

.modal-input {
    padding: 12px 14px;

    width: 100%;
    height: 40px;
    border: 1px solid var(--white-color);
    border-radius: 10px;

    color: var(--white-color);
    background-color: transparent;
    transition: border 300ms linear;

    &:focus {
        border: 1px solid var(--accent-color);
        outline: none;
        box-shadow: 2px 1px 10px 1px rgba(185, 152, 152, 0.75) inset;
    }
}

.select-product,
.select-quantity {
    width: 100%;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    background-color: var(--pink-color);
    padding: 8px 10px;
    color: var(--white-color);
    transition: border 300ms linear;

    &:focus {
        border: 1px solid var(--accent-color);
        outline: none;
        box-shadow: 2px 1px 10px 1px rgba(185, 152, 152, 0.75) inset;
    }
}
.comment-wrap {
    display: block;
    margin-bottom: 20px;
}

.modal-comment {
    padding: 12px 14px;

    height: 80px;
    width: 100%;
    resize: none;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    color: var(--white-color);

    background-color: transparent;

    transition: border 300ms linear;
    &:focus {
        border: 1px solid var(--accent-color);
        outline: none;
        box-shadow: 2px 1px 10px 1px rgba(185, 152, 152, 0.75) inset;
    }
}

::placeholder {
    color: var(--white-color);
}