.about-post__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--black-text-color);
  &--gray {
    color: var(--grey-text-color);
  }
  &:first-child {
    margin-bottom: 18px;
  }
  &:last-child {
    margin-bottom: 80px;
  }
}

.section__title--about {
  margin-bottom: 32px;
}

.about-post {
  padding-top: 40px;
  padding-right: 80px;
}

.icon-vector-1 {
  margin-left: 14px;
}

.button--about {
  padding-left: 37px;
  padding-right: 56px;
}
