.about-title {
  margin: 0 auto;
  width: 200px;
  @media screen and (min-width: 768px) {
    width: 429px;
  }
  @media screen and (min-width: 1280px) {
    width: 534px;
  }
}
.about-post__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--black-text-color);
  &:first-child {
    margin-bottom: 18px;
  }
}

.about-post__text {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about-post__text--gray {
  color: var(--grey-text-color);
  margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.93;
  }
}

.section__title--about {
  margin-bottom: 32px;
  letter-spacing: normal;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.about-post {
  z-index: 5;
  padding-top: 40px;
  width: 220px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 334px;
    padding-top: 0;
    margin-left: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-left: 139px;
    padding: 72px 0 99px 0;
  }
}

.about-post__text--no-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding-top: 25px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
  }
}

.icon-vector-1 {
  margin-left: 14px;
}

.button--about {
  font-size: 14px;
  padding-left: 37px;
  padding-right: 56px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.thumb-image-cow {
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 501px;
    z-index: 2;
  }
}

.article-about {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-evenly;
  }
}

.section-about {
  position: relative;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 80px;
    padding-top: 20px;
  }
}

.about-image {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 133px;
  width: 100%;
  top: 64%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    height: 521px;
    top: 28%;
  }
}
.about-background {
  width: 70px;
  @media screen and (min-width: 1280px) {
    width: 280px;
  }
}
