.about-title {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    width: 431px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 537px;
    margin-bottom: 60px;
  }
}
.about-post__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--black-text-color);
  @media screen and (min-width: 1200px) {
    letter-spacing: 0.04em;
  }

  &--gray {
    color: var(--grey-text-color);
    margin-bottom: 80px;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.04em;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.79;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.92;
    }
  }

  &:first-child {
    margin-bottom: 18px;
    @media screen and (min-width: 1200px) {
      margin-top: 72px;
      margin-bottom: 32px;
    }
  }
}

.about-post__text--black {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__title {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.about-post {
  padding-top: 40px;
  width: 220px;

  @media screen and (min-width: 768px) {
    width: 334px;
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
  }
}

.about-post__text--no-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 40px;
  }
}

.icon-vector-1 {
  margin-left: 14px;
}

.button--about {
  font-size: 14px;
  padding-left: 37px;
  padding-right: 56px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.thumb-image-cow {
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 501px;
  }
}

.article-about {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.section-about {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 80px;
  }
}
