// SECTION ADVANTAGES
.advantages__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &::before {
    margin-bottom: 16px;

    content: '';
    display: inline-block;
    background-size: contain;
    width: 33px;
    height: 50px;
  }
  &:first-child::before {
    background-image: url('../images/bucket.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/bucket@2x.png');
      }
    }
  }
  &:nth-child(2)::before {
    width: 50px;
    background-image: url('../images/apple-bucket.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/apple-bucket@2x.png');
      }
    }
  }
  &:last-child::before {
    width: 44px;
    background-image: url('../images/heart.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/heart@2x.png');
      }
    }
  }
}

.advantages__label {
  display: inline-block;

  margin-bottom: 16px;

  font-family: 'Titan One';
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.advantages__text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: var(--black-text-color);
}
