.section__contacts {
  background: linear-gradient(
    var(--white-color) 25%,
    var(--background-light-pink-color) 0
  );
  @media screen and (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 48px;
  }
}

.container__contacts {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding: 0 16px;
  }
}

// ----------------Contacts cards------------------

.contacts__card-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -16px;
  }
}

.contacts__card {
  padding: 40px 32px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  background-color: var(--white-color);

  transition: transform var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    transform: scale(1.1);
  }

  &:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 224px;
    margin: 16px;
    flex-basis: calc((100% - 96px) / 3);
  }
  @media screen and (min-width: 1280px) {
    max-width: 395px;
    padding: 40px 40px;
  }
}

.contacts__top-text {
  display: inline-block;
  min-height: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  color: var(--white-color);

  &--yellow {
    background-color: var(--card-text-yellow-bgc);
  }

  &--green {
    background-color: var(--card-text-green-bgc);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.88;
    margin-bottom: 32px;
  }
}

.contacts__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--black-text-color);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__work-time-list {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__work-time-item {
  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }
}
.contacts__work-time-text,
.contacts__work-time-hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--black-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__work-time-hours {
  color: var(--pink-color);
}

.contacts__bottom-text,
.contacts__link--email,
.contacts__link--tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-text-color);
}

.contacts__bottom-text {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
  }
}

.contacts__link--email,
.contacts__link--tel {
  transition: color var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.81;
    }
  }
}

// -------------------Contacts buttons----------------------

.contacts__button-list {
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.contacts__button-item {
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 15px;
    }
  }
}

.contacts__button {
  display: block;
  margin: 0 auto;
}

.contacts__button-location {
  padding-left: 17px;
  padding-right: 17px;
  &::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-left: 8px;
    background-image: url('../images/arrow_btn--white.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.contacts__button-franchise {
  padding-left: 32px;
  padding-right: 32px;
  &::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-left: 8px;
    background-image: url('../images/arrow_btn--pink.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
