// HEADER
.header__container {
  position: relative;
}

.header__wrap {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 1280px) {
    padding-top: 38px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;

  transition: transform 1000ms var(--transition-timing);
  
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.header__logo__icon {
  width: 50px;
}

.header__logo__text {
  margin-left: 20px;
  margin-right: auto;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__nav {
  margin-right: auto;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header__nav__list {
  display: flex;
}

.header__nav__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.header__nav__item > a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--button-white);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--button-accent);
  }
}

.header__nav__item:not(:last-child) {
  margin-right: 35px;
}

.menu-toggle {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  transition-duration: var(--transition-duration);

  @media screen and (min-width: 1279px) {
    display: none;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.header__button-menu {
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 30px;

  width: 160px;
  height: 44px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;

  @media screen and (max-width: 767px) {
    display: none;
  }
  // @media screen and (min-width: 550px) and (max-width: 767px) {
  //   margin-left: 20px;
  // }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 30px;
  }
}

// Section hero
.section-hero {
  background-color: var(--background-pink-color);
}
.hero {
  position: relative;
  padding: 52px 16px;
  font-family: 'Titan One';
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    height: 502px;
    padding: 8px 20px 0 20px;
  }

  @media screen and (min-width: 768px) {
    height: 416px;
    padding: 0 32px 0 32px;
  }

  @media screen and (min-width: 1280px) {
    height: 664px;
    padding: 37px 16px 0 16px;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;

  animation-name: videoMilk;
  animation-delay: -100ms;
  animation-duration: 6500ms;

  @keyframes videoMilk {
    0% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__title {
  font-family: 'Titan One';
  position: relative;
  z-index: 2;
  width: 218px;
  margin-top: 136px;
  text-align: left;
  font-size: 48px;
  line-height: 0.97;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  @media screen and (max-width: 767px) {
    animation: heartbeat;
    animation-iteration-count: 3;
    animation-duration: 2000ms;
    @keyframes heartbeat {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.2) translateX(5%) translateY(5%);
      }
      40% {
        transform: scale(1.4) translateX(9%) translateY(10%);
      }
    }
  }
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 34px;
    line-height: 0.91;
    margin-top: 102px;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    font-size: 58px;
    // line-height: 0.91;
    text-align: center;
    margin: 110px auto 20px 0;
    text-align: left;
  }
}

.hero__title--white {
  display: inline-block;
  font-size: 26px;
  line-height: 1.15;
  color: var(--white-color);
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    // margin-bottom: 24px;
    letter-spacing: 0.04em;
    font-size: 38px;
    line-height: 1.157;
  }
}

.hero__circle {
  position: absolute;
  z-index: 0;
  top: 83px;
  left: 36px;
  background-color: var(--pink-color);
  width: 344px;
  height: 344px;
  border-radius: 100%;
  animation-name: changeRadius;
  animation-duration: 3000ms;

  @keyframes changeRadius {
    0% {
      top: 50%;
      left: 50%;
      transform: translateX(50%);
      transform: translatey(50%);
      width: 0px;
      height: 0px;
    }

    100% {
      width: 344px;
      height: 344px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 333px;
    height: 333px;
    top: 54px;
    left: 248px;
  }
  @keyframes changeRadius {
    0% {
      top: 50%;
      left: 50%;
      transform: translateX(50%);
      transform: translatey(50%);
      width: 0px;
      height: 0px;
    }

    100% {
      width: 333px;
      height: 333px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 534px;
    height: 534px;
    top: 43px;
    left: 517px;

    @keyframes changeRadius {
      0% {
        top: 50%;
        left: 50%;
        transform: translateX(50%);
        transform: translatey(50%);
        width: 0px;
        height: 0px;
      }
      100% {
        width: 534px;
        height: 534px;
      }
    }
  }
}

.hero__image-milk {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 246px;
    left: 32px;
    animation-name: moveMilk;
    animation-duration: 3000ms;
    transition-delay: 1000ms;
  }

  @keyframes moveMilk {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 388px;
    left: 16px;
  }
}

.hero__image-icecream {
  transition-property: transform;
  transition-duration: 1500ms;
  transition-timing-function: var(--transittion-timing);
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 1;
    top: 92px;
    right: 32px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 322px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 108px;
    left: 634px;
  }
}

.hero__image-girl {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    z-index: 1;
    position: absolute;
    top: 265px;
    right: 32px;
    animation-name: moveGirl;
    animation-duration: 3000ms;
    transition-delay: 1000ms;
  }
  @keyframes moveGirl {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 424px;
    right: 16px;
  }
}

.hero__links {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    margin-bottom: 108px;
  }
}
.hero__item {
  &:first-child {
    margin-right: 8px;
  }
}

.hero__link {
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--button-white);
  padding: 6px 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--transittion-duration);
  transition-timing-function: var(--transittion-timing);
  @media screen and (min-width: 1280px) {
    padding: 11px 22px;
    font-size: 14px;
    line-height: 1.29;
  }

  &:hover,
  &:focus {
    background-color: var(--button-white-hover);
  }
}

.hero__link--accent {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: var(--transittion-duration);
  transition-timing-function: var(--transittion-timing);
  &:hover,
  &:focus {
    background-color: var(--button-accent-hover);
  }
}

.hero-text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    position: relative;
    z-index: 3;
    margin: 61px 432px auto 152px;
  }
  @media screen and (min-width: 1280px) {
    margin: 108px auto auto 213px;
    width: 200px;
  }
}

.hero-text__descr {
  @media screen and (min-width: 767px) {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-color);
    position: relative;
    margin-bottom: 7px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
    color: var(--white-color);
    position: relative;
    font-weight: 400;
  }
}

.hero-text__link {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero-text__img {
  transition-property: background-color;
  transition-duration: var(--transittion-duration);
  transition-timing-function: var(--transittion-timing);
  @media screen and (min-width: 768px) {
    background-color: var(--white-color);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 6px;
  }
  @media screen and (min-width: 1280px) {
    background-color: var(--white-color);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 8px;
  }
  &:hover,
  &:focus {
    background-color: var(--button-white-hover);
  }
}
.hero-chain {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 32px;
    top: 92px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 34px;
    top: 157px;
  }
}

.hero-chain__item:first-child {
  margin-bottom: 17px;
}

.hero-chain__text {
  position: relative;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  font-weight: 400;
  color: var(--white-color);
  font-family: 'DM Sans';
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-chain__text--accent {
  font-family: 'Titan One';
  position: relative;
  z-index: 1;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  &::after {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: -1;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: var(--white-color);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @media screen and (min-width: 1280px) {
      height: 30px;
      width: 30px;
      top: -4px;
      right: -18px;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
// END HEADER
