//-------------- section PRODUCTS
// ---------------------(Ihor Komar added this code)-----------------------------
.label-title {
  margin-bottom: 15px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: var(--pink-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

.section__title--production {
  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    margin-bottom: 154px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 258px;
  }
}

.cards {
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  @media screen and (min-width: 1280px) {
    margin: -16px;
  }
}

.cards__item {
  position: relative;
  display: block;
  flex-direction: column;

  border-radius: 24px;

  margin: 0 auto;

  @media screen and (max-width: 767.98px) {
    padding: 160px 35px 40px;
    margin: 0 auto;
    max-width: 320px;
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 8px;
    flex-basis: calc((100% - 48px) / 3);

    padding: 118px 25px 40px;
  }

  @media screen and (min-width: 1280px) {
    margin: 16px;
    flex-basis: calc((100% - 96px) / 3);

    padding: 165px 60px 60px;
  }

  &:first-child {
    background-color: var(--card-text-pink-bgc);
  }

  &:nth-child(2) {
    background-color: var(--card-text-yellow-bgc);
  }

  &:last-child {
    background-color: var(--card-text-green-bgc);
  }

  &:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -140px);
    display: block;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/home-pic-320.png');

    @media screen and (min-width: 768px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -138px);
      width: 224px;
      height: 224px;
      background-image: url('../images/home-pic-768.png');
    }

    @media screen and (min-width: 1280px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -261px);
      width: 394px;
      height: 394px;
      background-image: url('../images/home-pic1-1200.png');
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/home-pic-320-@2x.png');

        @media screen and (min-width: 768px) {
          background-image: url('../images/home-pic-768@2x.png');
        }

        @media screen and (min-width: 1280px) {
          background-image: url('../images/home-pic1-1200-@2x.png');
        }
      }
    }
  }

  &:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -140px);
    display: block;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/home-pic-320-1.png');

    @media screen and (min-width: 768px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -138px);
      width: 224px;
      height: 224px;
      background-image: url('../images/home-pic2-768.png');

      @media screen and (min-width: 1280px) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -261px);
        width: 394px;
        height: 394px;
        background-image: url('../images/home-pic2-1200.png');
      }
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/home-pic-320-1@2x.png');

        @media screen and (min-width: 768px) {
          background-image: url('../images/home-pic2-768@2x.png');
        }

        @media screen and (min-width: 1280px) {
          background-image: url('../images/home-pic2-1200@2x.png');
        }
      }
    }
  }

  &:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -140px);
    display: block;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/home-pic-320-2.png');

    @media screen and (min-width: 768px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -138px);
      width: 224px;
      height: 224px;
      background-image: url('../images/home-pic3-768.png');

      @media screen and (min-width: 1280px) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -261px);
        width: 394px;
        height: 394px;
        background-image: url('../images/home-pic3-1200-.png');
      }
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/home-pic-320-2@2x.png');

        @media screen and (min-width: 768px) {
          background-image: url('../images/home-pic3-768@2x.png');
        }

        @media screen and (min-width: 1280px) {
          background-image: url('../images/home-pic3-1200-@2x.png');
        }
      }
    }
  }
}

.cards__title {
  position: relative;
  margin-bottom: 70px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white-color);

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 32px);
    display: block;
    width: 29px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/point.png');
  }
}

.cards__text {
  margin-bottom: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--white-color);

  @media screen and (min-width: 768px) {
    line-height: 1.79;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.cards__top {
  margin-bottom: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--white-color);

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.cards__btn {
  display: block;
  margin: 0 auto;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    bottom: 60px;
  }
}

.cards__btn-icon {
  width: 40px;
  height: 40px;
}

.cards__icon {
  width: 40px;
  height: 40px;
}
// -------(Ihor Komar finished code)-------------------------------------------------
